.align-center {
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.wrap {
    box-sizing: border-box;
    margin: auto;
    width: calc(min(1170px, 85%));
}