.list {
    list-style: none;
    padding-inline-start: 1.25rem;
}

.list-item {
    padding: 12px;

    span {
        left: 1rem;
        position: relative;
    }
}

.list-item:before {
    content: "\20dd";
    color: var(--secondary);
    display: inline-block;
    font-weight: 700;
    margin-left: -1rem;
    width: 1rem;
}